.sidebar {
	margin-left: 0;
	background-color: #222229;
	color: white;
	position: fixed;
	display: flex;
	box-sizing: border-box;
	height: 100%;
	width: 30px;
	align-items: flex-start;
	align-content: flex-start;
	transition: 0.2s;
	overflow-y: scroll;
}

.sidebar .sidebar__content {
	display: none;
}

.sidebar:hover {
	width: 400px;
	border-top-right-radius: 20px;
}

.sidebar:hover .sidebar__content {
	width: 100%;
	display: block;
	margin: 8px 8px 8px 8px;
}

hr.divider {
	margin: 0;
	border-top: 1px solid rgba(255, 255, 255, 0.613);
	border-radius: 5px;
}