.connectToMetamask {
	display: block;
	align-items: center;
	word-wrap: break-word;
	max-width: 360px;
	
	padding: 15px;

	display: flex;
	flex-direction: column;
	justify-content: center;

	overflow-y: hidden;

	margin: auto;
	margin-top: 20%;
	margin-bottom: 10%;
}